header {
  background: #1f1f1f;
  color: white;
  padding: 1rem;
  text-align: center;
}

header h1 {
  font-size: 2rem;
  margin: 0;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
}

header p {
  font-size: 1rem;
  margin: 1rem 0 1rem;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
}

nav {
  background: #333;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
nav a {
  color: white;
  padding: 1rem;
  text-decoration: none;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
}

nav a:hover {
  background: #444;
  border-radius: 0.5rem;
}